<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%= title  %>

    <% if (showMessage){ %>

        <%= message %>
    <% } else {%>

        <p>Este es un mensaje por defecto co ejs</p>
    <% } %>



    <ul>

    <% for (let i = 0; i < administradores.length ; i++){ %>

       <li><%= administradores[i] %></li> 
    
    <% } %>

    </ul>
</head>
<body>
    

    <body>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io()
        </script>
    </body>
</body>
</html>