<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>

    
</head>
<body>

    <div id="new-connection"></div>

    
    <!-- <label for="">Ingrese la informacion</label>
    <input type="text" name="" id="info">
    <input type="button" value="Emitir evento" id="btn-emit-event"> -->

    <div id="chat">
        <input type="text" id="username" placeholder="Ingrese su nombre de usuario">
        <div id="message">
            <div class="message">jeffrycoder: Hola</div>
            <div class="message">jeffrycoder: Hola</div>
        </div>

        <div id="writing">

        </div>

        <textarea id="write-message" placeholder="Ingrese su mensaje"></textarea>

    </div>


    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io()

        // const info = document.getElementById('info')

        // const btnEmitEvent = document.getElementById('btn-emit-event')

        // const content = document.getElementById('content')

        // btnEmitEvent.addEventListener('click', (event) => {

        //     socket.emit('add-information', {

        //         info: info.value
        //     })
        // })

        // socket.on('new-connection', (msg) => {

        //     const newConnection = document.getElementById('new-connection')

        //     newConnection.innerHTML = msg

        //     setTimeout(()=>{

        //         newConnection.innerHTML = ''


        //     }, 3000)
        // })

        // socket.on('show-information', (data) => {

        //     console.log(data)
        //     content.innerHTML = data.info
        // })
    </script>

</body>
</html>